<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<div th:fragment="navbar_unauth">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span><a class="navbar-brand" href="#" th:href="@{/}">Home</a></span>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="#" th:href="@{/login}"><ion-icon size="large" name="ios-log-in"></ion-icon></a>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-6 offset-3" th:if="${message}">
            <div th:class="'alert alert-' + ${message.type}" th:text="${message.text}">
            </div>
        </div>
    </div>
</div>
<div th:fragment="navbar_auth">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span><a class="navbar-brand" href="#" th:href="@{/home}">Home</a></span>
        <span class="mt-1">
            <form class="form-inline" method="get" action="/#" th:action="@{/search}">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query">
            </form>
         </span>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav ml-auto">
                <span>
                    <a class="btn nav-item nav-link" th:href="@{/home}" th:text="${#httpSession.getAttribute('userName')}"></a>
                </span>
                <span>
                    <form class="form-inline" method="post" th:action="@{/logout}">
                        <button class="btn nav-item nav-link" style="background-color: transparent" type="submit"><ion-icon size="large" name="ios-log-out"></ion-icon></button>
                    </form>
                </span>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-6 offset-3" th:if="${message}">
            <div th:class="'alert alert-' + ${message.type}" th:text="${message.text}">
            </div>
        </div>
    </div>
</div>
</body>
</html>