<!DOCTYPE html>
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest" xmlns:th="http://www.w3.org/1999/xhtml"></script>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="sources :: sources"></div>
    <title th:text="${song.name}">Song</title>
</head>
<body>
<div th:replace="navbar :: navbar_auth"></div>
<div class="container-fluid p-2">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-body">
                    <div class="row border-bottom p-4">
                        <div class="col-4" th:switch="${song.albumDTO.imageEncoded}">
                            <div th:case="${null}">
                                <img class="img-fluid" src="#" th:src="@{/img/default_album.svg}" alt=""/>
                            </div>
                            <div th:case="*">
                                <img class="img-fluid" src="#"
                                     th:src="*{'data:imageEncoded/jpg;base64,' + song.albumDTO.imageEncoded}" alt=""/>
                            </div>
                        </div>
                        <div class="col-8">
                            <h1 th:text="${song.name}"></h1>
                            <small th:text="${song.albumDTO.artistDTO.name}"
                                   th:href="@{'/artist?id=' + ${song.albumDTO.artistDTO.id}}"></small>
                            <small th:text="${song.albumDTO.albumYear} + ', ' + ${song.length}"></small>
                        </div>
                    </div>
                    <div class="mt-3 text-center">
                        <audio id="player" controls></audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="footer :: footer"></div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    if (Hls.isSupported()) {
        var manifestUri = /*[[${songManifestUri}]]*/ '';
        var player = document.getElementById('player');
        var token = /*[[${token}]]*/ '';
        var hls = new Hls({
            debug: true,
            xhrSetup: function (xhr, url) {
                xhr.setRequestHeader("Authorization", "Bearer " + token)
            }
        });
        hls.attachMedia(player);
        hls.on(Hls.Events.MEDIA_ATTACHED, function () {
            hls.loadSource(manifestUri);
        });
    }
    /*]]>*/
</script>
</html>